<div id="footer">
  <a href="/index.html" class="footer_category">
    <img src="/assets/img/footer/summary_icon.png" alt="" />
    <span>Summary</span>
  </a>

  <a href="/components/board/board.html" class="footer_category">
    <img src="/assets/img/footer/board_icon.png" alt="" />
    <span>Board</span>
  </a>

  <a href="/components/tasks/tasks.html" class="footer_category">
    <img src="/assets/img/footer/add_tasks_icon.png" alt="" />
    <span>Add Tasks</span>
  </a>

  <a href="/components/contacts/contacts.html" class="footer_category">
    <img src="/assets/img/footer/contacts_icon.png" alt="" />
    <span>Contacts</span>
  </a>
</div>
