<div id="footer">
  <div class="footer_category">
    <img src="/assets/img/footer/summary_icon.png" alt="" />
    <span>Summary</span>
  </div>

  <div class="footer_category">
    <img src="/assets/img/footer/board_icon.png" alt="" />
    <span>Board</span>
  </div>

  <div class="footer_category">
    <img src="/assets/img/footer/add_tasks_icon.png" alt="" />
    <span>Add Tasks</span>
  </div>

  <div class="footer_category">
    <img src="/assets/img/footer/contacts_icon.png" alt="" />
    <span>Contacts</span>
  </div>
</div>
