<div id="footer">
  <a onclick="openSection('sectionJoin360')" class="footer_category">
    <img src="/assets/img/footer/summary_icon.png" alt="" />
    <span>Summary</span>
  </a>

  <a onclick="openSection('sectionBoard')" class="footer_category">
    <img src="/assets/img/footer/board_icon.png" alt="" />
    <span>Board</span>
  </a>

  <a onclick="openSection('sectionAddTasks')" class="footer_category">
    <img src="/assets/img/footer/add_tasks_icon.png" alt="" />
    <span>Add Tasks</span>
  </a>

  <a onclick="openSection('contact-list-background'); renderContactList(); removeElemente('contact-view-profil-main');" class="footer_category">
    <img src="/assets/img/footer/contacts_icon.png" alt="" />
    <span>Contacts</span>
  </a>
</div>
