<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login.css">
    <script src="/services/variables.js"></script>
    <script src="/services/queries.js"></script>
    <script src="login.components.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

</head>

<body onload="init()">
    <div class="logo">
        <div><img src="\assets\img\Capa 1.png" alt=""></div>
    </div>
    <div class="mobileVision">

        <div class="position">
            <h1>Log in</h1>
            <div class="underLine"></div>
            <form class="password-container" onsubmit="login(); return false;">
                <input required class="mail" minlength="7" placeholder="Email" type="email" id="mail">
                <input required onclick="passwordVisible()" class="hide" minlength="7" placeholder="Password"
                    type="password" id="password">
                    <div class="d-none message" id="message">ups Passwort or email are not correct Try again</div>
                <div class="remember"> <input class="rememberBox" type="checkbox"> <b class="remember-text">Remember
                        me</b> </div>
                <button class="login">Log in</button>
                <button class="guest" onclick="myFunction()">Guest Log in</button>
            </form>
        </div>
        <div class="signUp">
            <div class="signContainer"><b class="signText">Not a Join user?</b><button onclick="signup()"
                    class="signing">Sign up</button>
            </div>
            <div class="linkPosition">
                <div><a href="/components/informations/privacy_policy.html">Privacy Policy</a></div>
                <div><a href="/components/informations/legal_notice.html">Legal notice</a></div>
            </div>
        </div>
    </div>
</body>

</html>