<section>
    <div id="mobileVersion">
        <div w3-include-html="/components/templates/header/header.html"></div>
        <div class="headline">
            <h1>Join 360</h1>
            <p class="slogan">Key Metrics at a Glance</p>
            <div class="underLine"></div>
        </div>
        <div id="tasksMenu">
            <div  class="ToDoPosition">
                <div onclick="myfunction()" class="toDo">
                    <img src="/assets/img/Group 7.png" alt="">
                    <div class="numberPosition">
                        <b>1</b>
                        <p class="todoText">To-Do</p>
                    </div>
                </div>
                <div onclick="myfunction()" class="toDoDone">
                    <img src="/assets/img/Group 7 (1).png" alt="">
                    <div class="numberPosition">
                        <b>1</b>
                        <p class="todoText">Done</p>
                    </div>
                </div>
            </div>
            <div class="UrgentDeadline">
                <div onclick="myfunction()" class="urgent">
                    <img class="image1" src="/assets/img/Ellipse 4.jpg" alt="">
                    <!-- <img class="image2" src="/assets/img/Prio alta.jpg" alt="asdasd"> -->
                    <div class="numberPosition">
                        <b>1</b>
                        <p class="todoText">Urgent</p>
                    </div>
                    <div class="partingLine"></div>
                    <div class="Date">
                        <h2>October 16, 2022</h2>
                        <p class="dateText">Upcoming Deadline</p>
                    </div>
                </div>
            </div>
            <div onclick="myfunction()" class="TaskProgress">
                <div class="AllTheTasks">
                    <b class="numberOfTasks">5</b>
                    <p>Task in Board</p>
                </div>
                <div class="AllTheTasks">
                    <b class="numberOfTasks">2</b>
                    <p>Task in Progress</p>
                </div>
                <div class="AllTheTasks">
                    <b class="numberOfTasks">2</b>
                    <p>Awaiting Feedback</p>
                </div>

            </div>
            <div w3-include-html="/components/templates/footer/footer.html"></div>
        </div>
    </div>
</section>
