<section id="sectionJoin360">
    <div id="j36_mobileVersion">
        <div class="j36_headline">
            <h1>Join 360</h1>
            <div class="j36_underLine"></div>
            <p class="j36_slogan">Key Metrics at a Glance</p>
        </div>
        <div id="j36_tasksMenu">
            <div class="j36_ToDoPosition">
                <div onclick="myfunction()" class="j36_toDo">
                    <img src="/assets/img/Group 7.png" alt="">
                    <div class="j36_numberPosition">
                        <b>1</b>
                        <p class="j36_todoText">To-Do</p>
                    </div>
                </div>
                <div onclick="myfunction()" class="j36_toDoDone">
                    <img src="/assets/img/Group 7 (1).png" alt="">
                    <div class="j36_numberPosition">
                        <b>1</b>
                        <p class="j36_todoText">Done</p>
                    </div>
                </div>
            </div>
            <div class="j36_UrgentDeadline">
                <div onclick="myfunction()" class="j36_urgent">
                    <img class="j36_image1" src="/assets/img/Ellipse 4.jpg" alt="">
                    <img class="j36_image2" src="/assets/img/Prio alta.jpg" alt="asdasd">
                    <div class="j36_numberPosition">
                        <b>1</b>
                        <p class="j36_todoText">Urgent</p>
                    </div>
                    <div class="j36_partingLine"></div>
                    <div class="j36_Date">
                        <h2 class="j36_h2">October 16, 2022</h2>
                        <p class="j36_dateText">Upcoming Deadline</p>
                    </div>
                </div>
            </div>
            <div onclick="myfunction()" class="j36_TaskProgress">
                <div class="j36_AllTheTasks">
                    <b class="j36_numberOfTasks">5</b>
                    <p>Task in Board</p>
                </div>
                <div class="j36_AllTheTasks">
                    <b class="j36_numberOfTasks">2</b>
                    <p>Task in Progress</p>
                </div>
                <div class="j36_AllTheTasks">
                    <b class="j36_numberOfTasks">2</b>
                    <p>Awaiting Feedback</p>
                </div>

            </div>
        </div>
        <div class="j36_morning-Text">
            <h2 class="j36_morning">Good morning</h2>
            <h2 class="j36_person-Name">Sophia Müller</h2>
        </div>
    </div>
</section>

