body {
    margin: 0px;
    background: #F6F7F8;
    font-family: 'Inter', sans-serif;
    margin-top: 248px;
    margin-bottom: 270px;
}

#mobileVersion {
    width: 428px;
    height: 926px;
    background-color: #F6F7F8;
    margin-right: 16px;
    margin-left: 16px;
}


.headline {
    padding-top: 10px;
    width: 223px;
    height: 104px;
    gap: 16px;
}

.underLine {
    width: 90px;
    border-top: 3px solid #29ABE2;
}

.slogan {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

h1 {
    color: #000;
    font-family: Inter;
    font-size: 47px;
    font-style: normal;
    font-weight: 700;
}

#tasksMenu {
    width: 396px;
    height: 384px;
    flex-shrink: 0;
}

.toDo {
    margin-top: 105px;
    display: flex;
    width: 148px;
    height: 34px;
    padding: 38px 19px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--white, #FFF);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    font-size: 47px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
}

#toDo img {
    width: 40px;
    height: 40px;
}

.todoText {
    color: #2A3647;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 16.8px */
}

.numberPosition {
    flex-direction: column;
}

.toDoDone {
    margin-top: 105px;
    display: flex;
    width: 70px;
    height: 34px;
    padding: 38px 58px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--white, #FFF);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    font-size: 47px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
}

.ToDoPosition {
    display: flex;
    align-items: center;
    gap: 24px;
}

.UrgentDeadline {
    position: relative;
    margin-top: 30px;
    display: flex;
    width: 396px;
    height: 110px;
    padding: 28px 0px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--white, #FFF);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
}

.urgent {
    display: flex;
    align-items: center;
    font-size: 47px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    padding-left: 56px;
    gap: 18px;
}

.partingLine {
    height: 68px;
    flex-shrink: 0;
    border-left: 2px solid #D1D1D1;
    height: 70px;
    flex-shrink: 0;
}

.image1 {
    z-index: 0;
}

.image2 {
    z-index: 1;
}

.Date {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

h2 {
    color: #2A3647;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.dateText {
    color: #2A3647;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.TaskProgress {
    margin-top: 18px;
    display: flex;
    width: 396px;
    height: 116px;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
}

.AllTheTasks {
    display: flex;
    width: 116px;
    height: 66px;
    padding: 25px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    text-align: center;
    border-radius: 20px;
    background: var(--white, #FFF);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    color: #2A3647;
    color: #2A3647;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.numberOfTasks {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 47px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}
.toDo:hover{
    cursor: pointer;
}
.toDoDone:hover{
    cursor: pointer;
}
.urgent:hover{
    cursor: pointer;
}
.AllTheTasks:hover{
    cursor: pointer;
}