.overlay {
    height: 760px;
    width: 396px;
    border-radius: 30px;
    background-color: white;
}

.contact-bg {
    height: 46%;
    width: 100%;
    background-color: #2A3647;
    border-radius: 30px 30px;
}