<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join Board</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/components/board/board.css" />
    <link rel="stylesheet" href="/components/templates/header/header.css" />
    <link rel="stylesheet" href="/components/templates/footer/footer.css" />
    <script src="/script.js"></script>
    <script src="/components/board/board.js"></script>
    <link rel="icon" href="/assets/img/favicon-join.png">
  </head>
  <body onload="includeHTML()">
    <div w3-include-html="/components/templates/header/header.html"></div>
    <div w3-include-html="/components/templates/footer/footer.html"></div>

    <div class="board_h1">
      <h1>Board</h1>
      <div class="board_h1_img"><img src="/assets/img/board/board-plus.png" alt="add Task"></div>
    </div>

    <div class="board_section">
      <div class="board_search">
        <input class="inputs board_input" type="text" placeholder="Find Task">
      </div>
        
        <div class="board_todo board_sections">
          <div class="board_h3">
            <h3>To do</h3>
            <img src="/assets/img/board/board_add.png" alt="">
          </div>
          <div class="board_card_placeholder">No tasks To do</div>
          <!-- Placeholder bis JS intergriert wird-->
        </div>
        <div class="board_progress board_sections">  
          <div class="board_h3">
            <h3>In progress</h3>
            <img src="/assets/img/board/board_add.png" alt="">
          </div>

          <div class="board_card_placeholder">No tasks To do</div>
          <!-- Placeholder bis JS intergriert wird-->
        </div>
        <div class="board_feedback board_sections">
          <div class="board_h3">
            <h3>Await feedback</h3>
            <img src="/assets/img/board/board_add.png" alt="">
          </div>

          <div class="board_card_placeholder">No tasks To do</div>
          <!-- Placeholder bis JS intergriert wird-->
        </div>
        <div class="board_done board_sections">
          <div class="board_h3">
            <h3>Done</h3>
            <img src="/assets/img/board/board_add.png" alt="">
          </div>

          <div class="board_card_placeholder">No tasks To do</div>
          <!-- Placeholder bis JS intergriert wird-->
        </div>
    </div>
  </body>
</html>
