.overlay {
    height: 760px;
    width: 396px;
    border-radius: 30px;
    background-color: white;
}

.contact-bg {
    height: 220px;
    background-color: #2A3647;
    border-radius: 30px 30px 0px 0px;
}

.fw-7 {
    font-weight: 700;
}

.fw-4 {
    font-weight: 400;
}

.fs-2 {
    font-size: 20px;
}

.fs-4 {
    font-size: 47px;
}

.white {
    color: white;
}

.black {
    color: black;
}

.light-blue {
    color: #29ABE2;
}

.bw-3 {
    border-style: solid;
    border-width: 3px;
    border-radius: 3px;
}

.bc-lightblue {
    border-color: #29ABE2;
}

.w-9 {
    width: 90px;
}

.d-flex {
    display: flex !important;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.g-8{
    gap: 8px;
} 

.g-16 {
    gap: 16px;
}

.g-24 {
    gap: 24px;
}

#frame-195 {
    padding: 66px 24px 66px 24px;
}

#frame-206 {
    height: 104px;
    width: 282px;
}

#frame-205 {
    max-height: 88px;
}

.h-auto {
    height: auto;
}

.grow-1 {
    flex-grow: 1;
}

.m-none {
    margin: none !important;
}

#frame-79 {
    width: 120px;
    height: 120px;
    border-radius: 70px;
    border-width: 3px;
    border-style: solid;
    border-color: white;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1);
    background-color: #D1D1D1;
}

#group-13 {
    position: absolute;
    top: 286px; 
    left: 138px;
}

#addcontact-top-close {
    width: 32px;
    position: absolute;
    top: 24px;
    left: 348px;
}

#add-contact-text-mobile {
    width: 364px;
    height: 153px;
    position: absolute;
    top: 444px;
    left: 16px;
}

.contact-input {
    width: 87.92%;
    max-width: 364px;
    max-height: 15px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #D1D1D1;
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 400;
    color: black;
    padding: 13px 21px 13px 21px;
}

.contact-input:focus {
    border: 1px solid #29ABE2;
}

.contact-input-name {
    background-image: url('/assets/img/contacts/person-contact-input.svg');
    background-position: 301px;
    background-repeat: no-repeat;
    background-size: 24px;
    cursor: pointer;
}

.contact-input-email {
    background-image: url('/assets/img/contacts/mail-contact-input.png');
    background-position: 301px;
    background-repeat: no-repeat;
    background-size: 24px;
    cursor: pointer;
}

.contact-input-phone {
    background-image: url('/assets/img/contacts/call-contact-input.svg');
    background-position: 301px;
    background-repeat: no-repeat;
    background-size: 24px;
    cursor: pointer;
}

::placeholder {
    color: #D1D1D1;
    opacity: 1; /* Firefox */
}

.add-contact-btn {
    width: 202px;
    height: 51px;
    border-radius: 10px;
    background-color: #2A3647;
    color: white;
    border: none !important;
    font-weight: 700;
    font-size: 21px;
    text-align: center;
    position: absolute !important;
    top: 190px;
    left: 97px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-contact-save-btn {
    width: 99px;
    height: 51px;
    border-radius: 10px;
    background-color: #2A3647;
    color: white;
    border: none !important;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.edit-contact-delete-btn {
    width: 82px;
    height: 51px;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #2A3647;
    background-color: white;
    color: #2A3647;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

#add-contact-create-button-symbol {
    height: 11.23px;
    width: 15.49px;
}

#add-contact-create-button-symbol-box {
    height: 24px;
    width: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#frame-198 {
    width: 201px;
    height: 51px;
    position: absolute;
    top: 203px;
    left: 97.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#contact-user-symbol-initials {
    font-size: 47px;
    font-weight: 500;
    text-align: center;
    color: white;
}

#frame-207 {
    height: 104 px;
    width: 213 px;
    position: absolute;
    top: 128px;
    left: 16px;
}

#frame-173 {
    max-height: 88px;
}

#contact-arrow-box {
    height: 32px;
    width: 32px;
    position: absolute;
    top: 0px;
    left: 380px;
    cursor: pointer;
}

#menu-contact-options {
    width: 56px;
    height: 56px;
    position: absolute;
    top: 526px;
    left: 356px;
    border-radius: 56px;
    border-width: 1px;
    border-style: solid;
    padding: 12px;
    background-color: #2A3647;
    border-color: #2A3647;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
}


