<div class="d-flex flex-column g-16" id="frame-207">
    <div class="d-flex flex-column g-8" id="frame-173">
        <span class="fw-7 fs-4 black">Contacts</span>
        <span class="fw-4 fs-2 black">Tasks are better with a team!</span>
    </div>
    <div class="bw-3 w-9 bc-lightblue" id="addcontact-top-text-Vector">
    </div>
    <div id="contact-arrow-box">
        <img src="/assets/img/contacts/arrow-left-line.svg" alt="Arrow left">
    </div>


    <div id="menu-contact-options">
        <img src="/assets/img/contacts/more_vert.svg" alt="Options">
    </div>
</div>