<div id="contacts-view-desktop">
    <section id="section-left">
            <div id="desktop-contact-list-add-button" onclick="showDialog('overlay-add-contact-mobile');">
                <b>Add new contact</b> <img src="/assets/img/contacts/person_add.svg" alt="add person button">
             </div>
        <div id="contact-list-desktop">
            <!-- user contact list will be inserted here -->
        </div>
    </section>
    <section id="section-right">
        <div id="contact-slogan-desktop">
            <div class="dektop-slogan-position">
                <b class="contacts-desktop-h2">Contacts</b>
                <div class="contacts-dekstop-line"></div>
                <p class="contacts-dekstop-slogan">Better with a team</p>
             </div>
        </div>
        <div id="contact-profil-desktop">
            <!-- contact profil view will be inserted here-->
        </div>
    </section>
</div>